.godot/
*.import
export.cfg
export_presets.cfg
build/*
!build/.gdignore
deployScriptPROD.sh
rsync_exclude.txt

# multiplayer server
server/node_modules/
server/data/
server/config.dev.js
server/config.prod.js
server/config.qa.js
deployScriptPRODBE.sh
deployScriptPRODWEB.sh
deploy-be/
*.Identifier
tools/*

requirements/
data/config.json
